<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Home</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>What is on your mind?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="create()" [formGroup]="postForm" novalidate>
        <ion-list>
          <ion-item lines="inset">
            <ion-label color="medium" position="stacked">Title</ion-label>
            <ion-input
              formControlName="title"
              placeholder="e.g. 3 effective ways to cross the street (instantly)"
            ></ion-input>
          </ion-item>
          <ion-item lines="inset">
            <ion-label position="stacked">Content</ion-label>
            <ion-textarea
              formControlName="content"
              [autoGrow]="true"
              placeholder="e.g. 1. Crablike walking; 2. Canguru style; 3. Baby shark swimming; bonus: Teleport"
            ></ion-textarea>
          </ion-item>
        </ion-list>
        <ion-button [disabled]="saving" type="submit">Post</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <p *ngIf="loading">Loading...</p>

  <div *ngIf="!loading">
    <a *ngIf="posts.length === 0">Use the form above to write your first post!</a>

    <ion-list *ngIf="posts.length > 0">
      <ion-item *ngFor="let post of posts">
        <ion-label>
          <h3>{{ post.title }}</h3>
          <p>{{ post.content }}</p>
        </ion-label>

        <ion-button (click)="deletePost(post)" slot="end">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
